.menu {
    display: flex;
    list-style-type: none;
    padding: 1rem;
    gap: 1rem;
    background-color: pink;

        &-item {
        color: black;
        font-weight: bold;
        font-family: sans-serif;

            Header {

                height: auto;
                width: 100%;
                position: fixed;
                top: 0;
                left: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 5%;
                box-sizing: border-box;
                height: 100px;
                transition: 0.5s;

                .logo {
                    height: 60%;

                    .main-menu {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        list-style: none;
                    }

                    .menu-item {
                        margin: 0 1rem;
                        font-weight: 600;
                        cursor: pointer;
                        transition: 0.5s;
                        color: rgb(0, 0, 0);

                        .cta {
                            padding: 10px 24px;
                            border-radius: 30px;
                            background-color: white;
                            color: black;
                            font-weight: 600;
                            cursor: pointer;
                            transition: 0.5s;

                            .cta:hover {
                                color: red;
                                background-color: violet;

                                .menu-item:hover {
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }